form,input,select,textarea{
  margin:0;
  padding:0;
  color:#ffffff;}

div.main{
  padding-top:5%;
}
label.txt {
  text-align: center;
  padding-left: 30px;
  width:25%;
  color:#FFF;
  font-size:24px;
  font-style:italic;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  top:228px;
  filter:alpha(opacity=60);
  opacity:0.9;
  height:80%;
}
#login-page{
  margin-top: 10%;
}

div.frm {
  margin: 0 auto;
  width: 62%;
  background: #363636;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid #262626;
  margin-right: 10%;
  filter: alpha(opacity=60);
  opacity: 0.6;
  height: 80%;
}
::-webkit-input-placeholder  { padding-top: 20px; }
input:-moz-placeholder { padding-top: 20px; }

div.frm .input_text {
  margin:20px;
  width:76%;
  height:60px;
  font-size:50px;
  border-bottom: 1px double #171717;
  border-top: 1px double #171717;
  border-left:1px double #333333;
  border-right:1px double #333333;
}

#create-account{
  cursor: pointer;
  margin-top: 5px;
  height: 35px;
  opacity: 0.5;
  background-color: black;
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: 35px;
}
#login-account{
  cursor: pointer;
  margin-top: 5px;
  height: 35px;
  opacity: 0.5;
  background-color: black;
  color: white;
  padding-top: 10px;
  text-align: center;
  font-size: 35px;
}

div.frm .button
{
  opacity: 1;
  right: 34px;
  border: 0px;
  position: relative;
  width: 100px;
  height: 100px;
  border-bottom: 1px double #222;
  border-top: 1px double #222;
  border-left: 1px double #222;
  border-right: 1px double #222;
  background: url(/static/img/LoginArrow.gif) no-repeat;
  float: right;
  top: -60px;
}
@media all and (max-width: 860px){
  label.txt {
    visibility: hidden;
    display:none;
  }
  div.frm {
    margin-left:10%;
    width:50%;
    background:#363636;
    position:relative;
    padding-top:50px;
    padding-bottom:50px;
    border:1px solid #262626;
    margin-right:10%;
    filter:alpha(opacity=60);
    opacity:0.6;
    height:80%;
    top:70px;

  }