body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

body, .navbar-search .search-query {
    font-family: 'Open Sans', sans-serif;
}

.post {
}

.navbar-search .search-query {
    line-height: 16px;
}