{% extends 'index.html' %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/resetpassword.js"></script>
{% endblock %}
{% block feedback %}
{% endblock %}
{% block content %}
    <div id="main_holder" class="clearfix">
        <form action="{% url account.views.change_password %}" id="password-form" method="POST">
            {% csrf_token %}

            <div align="center" id="reset-form-holder">
                <div id="general" class="error"></div>
                <ul>
                    <li><input type="hidden" name="token" value="{{ token }}" /></li>
                    <li><label for="new-password" class="label">New password:</label></li>
                    <li><input type="password" id="new-password" name="newpassword" class="input" /></li>
                    <li><label for="retype-password" class="label">Re-type password:</label></li>
                    <li><input type="password" id="retype-password" name="retypepassword" class="input" /></li>
                    <li><input type="submit" value="submit" class="submit" /></li>
                </ul>
             </div>
        </form>
    </div>
{% endblock %}



        