{% extends 'index.html' %}
{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% endblock %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/register.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/frontpage.js"></script>
{% endblock %}
{% block feedback %}
{% endblock %}
{% block content %}
    asd
{% endblock %}



