{% extends 'base.html' %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/frontpage.css">
{% endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}js/django-validate.js"></script>
    <script src="http://stolksdorf.github.com/Parallaxjs/parallax.min.js"></script>
    <script src="{{ STATIC_URL }}js/parallax/kinetics.js"></script>
    <script src="{{ STATIC_URL }}js/frontpage.js"></script>
    <script src="{{ STATIC_URL }}js/login.js"></script>
    <script src="{{ STATIC_URL }}js/register.js"></script>
{% endblock %}

{% block content %}
    <div id="login-page">
      <label class="txt">
          Hello stranger. Welcome to the office.
          The place where you can't be apart from too long.
      </label>
      <div class="frm">

          <form action="{% url account.views.login %}" method="POST" id="login-form">
              {% csrf_token %}
              <div id="general" class="error"></div>
              <input type="text" id="username" name="username" value="User" class="input_text"/>
              <input type="password" id="password" name="password" value="Password" class="input_text" />
              <input type="submit" class="button" value=''/>
              <label id="create-account">Create account</label>
          </form>
      </div>
    </div>
    <div id="register-page">
        <label class="txt">
            Hello stranger. Welcome to the office.
            The place where you can't be apart from too long.
        </label>
        <div class="frm">
            <form action="{% url account.views.register %}" id="sign_up_form" method="POST">
                {% csrf_token %}
                <div id="general" class="error"></div>
                    <input type="text" id="username" name="username" value="User" class="input_text"/>
                    <input type="password" id="password" name="password" value="Password" class="input_text" />
                    <input type="email" id="email" name="email" value="E-mail" class="input_text" />
                    <input type="submit" class="button" value=''/>
                    <label id="login-account">Login</label>
            </form>
                
        </div>
    </div>

{% endblock %}



