{% csrf_token %}
{{ form.non_field_errors }}
<div class="body-field">
  {{ form.body }}
  {{ form.body.errors }}
</div>
<div id="tags">
    {{ form.tags }}
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/insert.js"></script>
<script>
    $(document).ready(function() {
        $('#tags select').chosen()

        var dialog = $('#new-post-dialog .modal-body');
        var size = 0;

        $('#tags .default').on('focus', function() {
            dialog.stop();
            if (size == 0) {
                size = dialog.height();
            }
            dialog.animate({height: 300});
        }).on('blur', function() {
            console.log('blur', dialog);
            dialog.stop();
            dialog.animate({height: size});
        });

    })
</script>