{% load discussiontags %}
{% load gravatar %}
<div class="airmail"></div>
<header class="post-header">
    <div class="post-author">
        <a href="#" class="avatar" title="{{ post.user.get_full_name }}"><img src="{% gravatar_for_user post.user 90 g %}"/><div>{{ post.user.get_full_name }}</div></a>
    <time pubdate="{{ post.time }}" class="post-date">{{ post.time|date:"d/m/Y" }}</time>
  </div>
</header>
<section class="post-body">
   <div class="avatar-doppleganger"></div>
  {% if search_term %}
      {{ post.body|urlize|linebreaks|highlight:search_term }}
  {% else %}
      {{ post.body|urlize|linebreaks }}
  {% endif %}
</section>
{% if post.attachment %}
<div class="post-attachment">
    <a class="attachment-file" href="{{ post.attachment.url }}">{{ post.attachment_filename }}</a>
</div>
{% endif %}
