{% csrf_token %}
{{ form.non_field_errors }}
<div class="body-field">
  {{ form.body }}
  {{ form.body.errors }}
</div>
<div class="file-upload-field">
  <label for="id_{{ form.attachment.html_name }}">Add a file:</label>
  {{ form.attachment }}
  {{ form.attachment.errors }}
</div>
<div id="tags"></div>
{{ form.tags }}
{{ tag_search.media.css }}
{{ tag_search.media.js }}
<script type="text/javascript" src="{{ STATIC_URL }}js/insert.js"></script>
{{ tag_search.as_p }}
<span class="button"><input type="submit" value="Post"></span>
