{% extends "discussion/base.html" %}
{% load discussiontags %}


{% block sidebar %}
    <div class="post-list">
        {% for post in object.post_set.all %}
            <article class="post post-list-{{ forloop.counter }}" id="post-{{ post.id }}" data-url="{{ post.get_absolute_url }}">
                {% url discussion_post pk=post.pk discussion_slug=object.slug as post_detail %}
                <div class="post-info">
                    <header class="post-header">
                        <div class="post-author">
                            <h5 class="user-name">{{ post.user.get_full_name }}</h5>
                            <time pubdate="{{ post.time }}" class="post-date">{{ post.time|date:"d M Y" }}</time>
                        </div>
                    </header>
                    <section class="post-body">
                        {{ post.body|truncatechars:70|urlize }}
                    </section>

                    {% if post.comment_set.all.count %}
                    <div class="comment-count">{{ post.comment_set.all.count}}</div>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}

{% block forum_content %}
{% endblock %}

{% block extra_script %}
<script>
$(document).ready(function() {
    $('.post-list .post').click(function() {
        $('.post.active').removeClass('active');
        $(this).addClass('active');
        url = $(this).data('url');
        $('#forum-content').load(url + ' .post');
    })

    $($('.post').get(0)).trigger('click');
})
</script>
{% endblock %}