{% extends "discussion/base.html" %}
{% load discussiontags %}


{% block sidebar %}
    <div class="post-list">
        <div class="sidebar-header">
            <button class="btn btn-primary btn-small new-post-btn"><i class="icon-edit icon-white"></i></button>
            <i class="icon-search icon-white"></i>
            <form action="{% url discussion_search %}" method="POST" class="forum-search-form navbar-search pull-left">
                {% csrf_token %}
                {{ search_form.search }}
            </form>
        </div>
        <div id="post-list-wrap">
            <div id="post-list-inner">
            {% for post in object.post_set.all %}
                <article class="post post-list-{{ forloop.counter }}" id="post-{{ post.id }}" data-url="{{ post.get_absolute_url }}">
                    {% url discussion_post pk=post.pk discussion_slug=object.slug as post_detail %}
                    <div class="post-info">
                        <header class="post-header">
                            <div class="post-author">
                                <h5 class="user-name">{{ post.user.get_full_name }}</h5>
                                <time pubdate="{{ post.time }}" class="post-date">{{ post.time|date:"d M Y" }}</time>
                            </div>
                        </header>
                        <section class="post-body">
                            {{ post.body|truncatechars:70|urlize }}
                        </section>

                        {% if post.comment_set.all.count %}
                        <div class="comment-count">{{ post.comment_set.all.count}}</div>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="new-post-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>New Message</h3>
        </div>
        <div class="modal-body">
            <form action="{% url discussion_add_post discussion_slug=discussion.slug %}" method="POST" enctype="multipart/form-data" class="post-form">
                {% include 'discussion/_post_form_fields.html' %}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary save-btn">Post Message</a>
        </div>
    </div>

{% endblock %}

{% block forum_content %}
{% endblock %}

{% block extra_script %}
<script>
function loadUrl(url) {
    $('#forum-content').load(url + ' .post', function() {
        $('.reply-btn').on('click', function() {
            $('#reply-dialog').modal();
            $('#reply-dialog .save-btn').on('click', function() {
                var saveBtn = $(this);
                saveBtn.attr('disabled', 'disabled').text('Sending Reply...');
                $('#reply-dialog .comment-form').ajaxSubmit({
                    success: function() {
                        $('#reply-dialog').modal('hide');
                        loadUrl(url);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        saveBtn.removeAttr('disabled').text('Send Reply');
                        var text = $(jqXHR.responseText);
                        $('#reply-dialog .modal-body').replaceWith(text.find('.modal-body'))
                    }
                });
            });
        })
    });
}


function init() {
    $('.post-list .post').click(function() {
        $('.post.active').removeClass('active');
        $(this).addClass('active');
        url = $(this).data('url');
        loadUrl(url);
    })
}

$(document).ready(function() {
    init();

    $($('.post').get(0)).trigger('click');

    $('.new-post-btn').on('click', function() {
        $('#new-post-dialog').modal();
        $('#new-post-dialog .save-btn').on('click', function() {
            var saveBtn = $(this);
            saveBtn.attr('disabled', 'disabled').text('Posting Message...');
            $('#new-post-dialog .post-form').ajaxSubmit({
                success: function() {
                    $('#new-post-dialog').modal('hide');
                    $('#post-list-wrap').load('{% url discussion slug=discussion.slug %} #post-list-inner', function() {
                        init();
                    });
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    saveBtn.removeAttr('disabled').text('Send Reply');
                    var text = $(jqXHR.responseText);
                    $('#new-post-dialog .modal-body').replaceWith(text.find('.modal-body'))
                }
            });
        })
    })

})
</script>=
{% endblock %}