{% block html_declare %}
    <html>
{% endblock %}
<head>
    <title>Griddly</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{#    <script src="{{ STATIC_URL }}login.js"></script>#}
    {% block extrahead %}
    {% endblock %}
</head>

<body>
    <div id="login">
        {% if not user.is_authenticated %}
            <form action="{% url django.contrib.auth.views.login %}" id="login-form" method="POST">
                {% csrf_token %}
                <label>Username</label>
                <input type="text" name="username" id="email" class="input"><br>
                <label>Password</label>
                <input type="password" name="password" id="password" class="input"><br>
                <button class="button">Login</button>
            </form>
        {% else %}
            Welcome, {{ user.first_name }} {{ user.last_name }}
            <a href="{% url django.contrib.auth.views.logout_then_login %}">[logout]</a>
        {% endif %}
    </div>
    <div id="register">
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>